[2011-07-08 07:57] jean opened #1 "Add to the commit team config"
I'm a member of the organization at https://github.com/collective but the checkout links are read-only:
              https://github.com/collective/collective.developermanual

Looks like collective.developermanual needs to be added to https://github.com/organizations/collective/teams/69277 ?

[2011-07-08 15:23] aclark4life commented on #1
Added. Let me know if it works.

[2011-07-08 16:25] garbas commented on #1
script is not running every 10min ... yet (working on it tonight) ... told you to run script by hand for now
please do not change anything in teams that starts with "--auto"

[2011-07-08 16:25] #1 closed, assigned to nobody

[2011-07-19 17:49] lrowe opened #2 "Email and errors"
The documentation at http://collective-docs.readthedocs.org/en/latest/misc/email.html is incorrect as it does not supply the `immediate=True` parameter which causes an email to be sent immediately (and any error raised) rather than sent at the transaction boundary or queued for later delivery.

[2011-07-20 06:47] jean commented on #2
Tidied up the chapter.

[2011-07-20 13:12] lrowe commented on #2
The immediate=True needs to go in MailHost.send() not when calling the template to generate the text...

[2011-07-20 13:26] jean commented on #2
Ah, does that mean Products/MailHost/interfaces.py is out of date? (It doesn't mention `immediate`.) (Checked on 4.0.7)

[2011-07-20 13:50] miohtama commented on #2
Updated docs related immediate keyword. Added just as a note as looks like interface description really doesn't tell how it funcs.

[2011-07-20 13:50] #2 closed, assigned to nobody

[2011-07-20 13:51] miohtama commented on #2
Taking my word back: got Git conflict and didn't notice aclark's changes... cleaning up now.

[2012-01-16 16:31] glenfant opened #11 "Underline styles for chapter/section titles"
Hi,

It seems that sections marking is not homogeneous across the documentation. Sometimes, level 1 sections are underlined with "=", sometimes with "-". And the "mess" continues for the sub(...)sections.

There is a pretty good conventions here http://sphinx.pocoo.org/rest.html#sections but perhaps we could have better suited ones clearly indicated in the "writing.txt" file https://github.com/col

[2012-01-16 17:21] miohtama commented on #11
Please go ahead; suggest this change in the document.

I believe a lot of material is from the era when Sphinx guidelines, or Sphinx itself, did not exist and thus there were no one definitive style.

[2012-01-17 06:23] jean commented on #11
On Mon, Jan 16, 2012 at 11:31 PM, Gilles Lenfant
reply@reply.github.com
wrote:

Yes. This bugs me too, and I have been making them homogenous opportunistically
as I edit files.

To my eyes, "====" is obviously heavier, indicating more importance, than
"----" and as such should be used for top-level sections.

I've also been making indentation consistently 4 spaces from the left margin,
and for Pyt

[2012-01-18 17:52] glenfant commented on #11
OK, I added a note about headings underline styles in the appropriate page.

@jean: I'd prefer to encourage the use of :ref:`someplace` and index / glossary related rules. But the index feature seems deactivated on this Sphinx (didn't investigate further why, because this is perhaps intentional, Mikko ?).

 Using paths that may change is evil. Sphinx has very nice hyperlink features from rules lik

[2012-01-18 17:52] #11 closed, assigned to nobody

[2012-01-18 18:25] miohtama commented on #11
I disabled the index untill we have something indexed there... now it looked like a ghost town and didn't really give good impression of for newcoming developers who'd like to dive into Plone...

[2012-01-18 20:34] jean commented on #11
On Jan 19, 2012 12:52 AM, "Gilles Lenfant" <
reply@reply.github.com>
wrote:

The Sphinx page already specifies headings that way, no?

[2012-01-19 10:44] glenfant commented on #11
@jean: It's just an applicable summary to this developer manual.

@miohtama: as long as you don't enable the index, nobody will add index related information :D . IMHO you should enable it to encourage contributors to fill it. Just my opinion...

[2012-02-24 19:43] fulv opened #18 "Errors in Epub version"
1. Go to http://readthedocs.org/projects/collective-docs/downloads/, and download the Epub version.
2. Load the Epub version on an iPad
3. Open it on the iPad in iBooks
## Result:

Most of the sections start with an error:

[code]

The line and column numbers are different in each error, but the message is the same.

Apart from the error itself, I haven't found anything missing.   The pdf version

[2012-03-13 10:18] miohtama commented on #18
Lovely! Didn't know this is possible. Any idea how to fix this particular error?

[2012-03-24 19:32] bdbaddog opened #22 "source/components/zcml.rst refers to file which doesn't exist (serving/layers)"
/Users/bdbaddog/devel/plone/collective.developermanual/source/components/zcml.rst:77: WARNING: unknown document: serving/layers

[2012-03-24 19:33] bdbaddog commented on #22
I think this is the result of Jean's checking based on comments.. Please take a look.

[2012-03-24 20:13] bdbaddog commented on #22
looks like different errors in master. closing.

[2012-05-21 12:01] marciomazza opened #39 "Remove lenghty note "Edit this document..." from epub or make it a one-liner"
In http://readthedocs.org the generate HTML for the manual includes side note on every page saying "Edit this document... The source code of this file is hosted on GitHub."

There are  conveniently built PDF and epub versions at
http://readthedocs.org/projects/collective-docs/downloads/

The PDF does not contais the edit note, but the epub does. The note takes much screen real estate, which is som

[2012-08-21 08:02] miohtama commented on #39
I did not know that ePub is generated from HTML. Any idea how to add Jinja condition IF NOT EPUB THEN....?

[2012-10-17 10:19] miohtama opened #77 "update python version on writing.rst"
update to 2.7 to build documentation ?

[2012-10-17 10:19] miohtama opened #78 "add section about developing tools/preparation"
like:

you need an editor [sublime, vim]
config of editor
vcs
...

[2012-10-17 10:19] miohtama opened #79 "Dexterity Sphinx migration"
Migrate Dexterity manuals to Sphinx.

Please poke me when done, so let's embed them to collective.developermanual

[2012-10-17 10:19] miohtama opened #80 "TODO app tutorial is incomplete and useless in its current form"
It is missing the first step to actually create a product and put it into your buildout to get started.

Discuss with Chris E, Steve M and Necj how to solve this so that we have a complete story for starting Plone development.

[2012-10-17 10:19] miohtama opened #81 "Migrate old Theme Reference to collective-docs"
We need Plone 3.x theme reference migrated.

This task is pending transmogrifier.command + pandoc pipeline

[2012-10-17 10:19] miohtama opened #82 "Writing style and standards for the CDM"
Make all the developer manual consistent about writing style and standards. Ideally it should become much more story telling and fluent

[2012-10-17 10:23] miohtama opened #83 "update python version on writing.rst"
update to 2.7 to build documentation ?

[2012-10-17 10:23] miohtama opened #84 "add section about developing tools/preparation"
like:

you need an editor [sublime, vim]
config of editor
vcs
...

[2012-10-17 10:23] miohtama opened #85 "Dexterity Sphinx migration"
Migrate Dexterity manuals to Sphinx.

Please poke me when done, so let's embed them to collective.developermanual

[2012-10-17 10:23] miohtama opened #86 "TODO app tutorial is incomplete and useless in its current form"
It is missing the first step to actually create a product and put it into your buildout to get started.

Discuss with Chris E, Steve M and Necj how to solve this so that we have a complete story for starting Plone development.

[2012-10-17 10:23] miohtama opened #87 "Migrate old Theme Reference to collective-docs"
We need Plone 3.x theme reference migrated.

This task is pending transmogrifier.command + pandoc pipeline

[2012-10-17 10:23] miohtama opened #88 "Writing style and standards for the CDM"
Make all the developer manual consistent about writing style and standards. Ideally it should become much more story telling and fluent

[2012-10-17 10:25] #83 closed, assigned to nobody

[2012-10-17 10:25] #84 closed, assigned to nobody

[2012-10-17 10:25] #85 closed, assigned to giacomos

[2012-10-17 10:25] #86 closed, assigned to smcmahon

[2012-10-17 10:25] #87 closed, assigned to djay

[2012-10-17 10:25] #88 closed, assigned to nobody

[2012-10-17 10:26] miohtama opened #89 "update python version on writing.rst"
update to 2.7 to build documentation ?

[2012-10-17 10:26] miohtama opened #90 "add section about developing tools/preparation"
like:

you need an editor [sublime, vim]
config of editor
vcs
...

[2012-10-17 10:26] miohtama opened #91 "Dexterity Sphinx migration"
Migrate Dexterity manuals to Sphinx.

Please poke me when done, so let's embed them to collective.developermanual

[2012-10-17 10:26] miohtama opened #92 "TODO app tutorial is incomplete and useless in its current form"
It is missing the first step to actually create a product and put it into your buildout to get started.

Discuss with Chris E, Steve M and Necj how to solve this so that we have a complete story for starting Plone development.

[2012-10-17 10:26] miohtama opened #93 "Migrate old Theme Reference to collective-docs"
We need Plone 3.x theme reference migrated.

This task is pending transmogrifier.command + pandoc pipeline

[2012-10-17 10:26] miohtama opened #94 "Writing style and standards for the CDM"
Make all the developer manual consistent about writing style and standards. Ideally it should become much more story telling and fluent

[2012-10-17 10:26] miohtama opened #95 "Have working Travis CI notifications"

[2012-10-17 10:26] miohtama opened #96 "Screencast tutorials for TTW Diazo and Dexterity"
Short, on the order of 5 minute, screencasts showing the basics of TTW content and theming. End with pointers to written tutorials.

NutJob is very good at this if he's willing.

[2012-10-17 10:26] miohtama opened #97 "Document how to update plone.org help center"

[2012-10-17 10:26] miohtama opened #98 "Updated portlets manual and tutorial"
- Current manual is not connected to templer templates
- It uses zope.formlib

Need to be rewritten with z3c.form by someone who has the knowledge

[2012-10-17 10:26] miohtama opened #99 "Make collective-docs splash page"
The current index.rst is not that nice. Find a person which visual and HTML skill and make him/her to sit with us and get it done.

[2012-10-17 10:26] miohtama opened #100 "auto-doc for core for embrassement driven development"
1. Narrative style
2. Reference style
- Interfaces
- Every viewlet
- Every view
- GenericSetup handlers

[2012-10-17 10:26] miohtama opened #101 "Authorize people to use plone.org"
Who to speak?

Who to authorize?

Make sure people have contribution agreements signed?

[2012-10-17 10:26] miohtama opened #102 "Ship with development tools out of the box"
See what the following packages could be included in the new unified installer command "bin/devserver" (equals to bin/instance fg with sauna reload)
- sauna.reload
- ipdb
- plone debug toolbar
- PdbDebugMode
- Other?

[2012-10-17 10:26] miohtama opened #103 "Make content type explanation"
How they are "forms" for editing content in different parts of the site

[2012-10-17 10:26] miohtama opened #104 "Bootstrap documentation team"
Make sure we have "the team" defined
- Who they are
- They are on plone-docs mailing list
- They are on #plone-irc channel

[2012-10-17 10:26] miohtama opened #105 "Overriding views and viewlets with copy-pasting"
Generate the override view and viewlet code inside Plone itself

[2012-10-17 10:26] miohtama opened #106 "Update all tutorials Unified Installer + ZopeSkel based"
All tutorials should be based on Unified installer and ZopeSkel, as that what novice users use. No custom buildouts or virtualenvs allowed.

[2012-10-17 10:26] miohtama opened #107 "Populate the default installed src/ with skeleton for creating something"
So you could just paste in code into views.py

Not running buildout.

[2012-10-17 10:26] miohtama opened #108 "Cross-reference documentation in Plone user interface"
In some critical points, have deep links in Plone user interface to the related developer documentation

[2012-10-17 10:26] miohtama opened #109 "Highlight developer tutorial"
Make sure the official tutorial works and is highlighted on plone.org as the first step

Cater different developers
- Theme developer
- Content type developer
- Form developer

First of course make sure those tutorial exists.

[2012-10-17 10:26] miohtama opened #110 "Change support splash page"
Make it more clear

[2012-10-17 10:26] miohtama opened #111 "Upgrade plone.org documentation splash page"

[2012-10-17 10:26] miohtama opened #112 "Intersphinx documentation build"
How we can build individual Plone package documentation under collective-docs

Domen knows

[2012-10-17 10:26] miohtama opened #113 "Move the rest of developer documentation out of p.org old dev section to collective-docs"

[2012-10-17 10:26] miohtama opened #114 "Change documentation language?"
Do we need to change our languages as our "integrators" are "developers" elsewhere?

[2012-10-17 10:28] #79 closed, assigned to giacomos

[2012-10-17 10:28] #80 closed, assigned to smcmahon

[2012-10-17 10:28] #81 closed, assigned to djay

[2012-10-17 10:28] #82 closed, assigned to nobody

[2012-10-17 10:28] #89 closed, assigned to nobody

[2012-10-17 10:28] #90 closed, assigned to nobody

[2012-10-17 10:33] miohtama commented on #113
Currently unfinished: Dexterity manual, Theme reference

[2012-10-17 10:34] #104 closed, assigned to nobody

[2012-10-17 10:34] jean commented on #114
I think it's OK as long as we are consistent. If we decide there's a better term, search & replace and edit globally. Put terms in the glossary and link to that like :term:`integrator` the first time it's used in a chapter or where there's a likelihood of confusion.

[2012-10-17 10:35] miohtama commented on #101
There was portal_catalog error on p.org. Neither Erico or SteveM could get our tembers authorized to edit the splash page og p.org/documentation

[2012-10-17 10:37] svx commented on #77
writing.rst is saying to use python2.6 to build documentation

On 10/17/2012 12:19 PM, Mikko Ohtamaa wrote:

[2012-10-17 10:38] miohtama commented on #112
This is currently handled like this:

https://github.com/collective/collective.developermanual/blob/master/source/reference_manuals/active/writing/crosslinking.rst

[2012-10-17 10:38] jean commented on #113
Use https://github.com/collective/transmogrify.command to get reStructuredText to start with where necessary.

[2012-10-17 10:39] miohtama commented on #94
Updated: https://github.com/collective/collective.developermanual/blob/master/source/reference_manuals/active/writing/writing.rst

For individual style issues please open a ticket on Github.

[2012-10-17 10:39] #94 closed, assigned to nobody

[2012-10-17 10:46] miohtama commented on #113
Dylan created us a script which used pandoc to produce .rst from p.org HTML. There is still a lot of hand clean-up. Especially theme reference is quite long. I started to clean it up, but cannot complete it in one day.

[2012-10-17 10:54] miohtama opened #115 "Only one authorative place for system dependencies list when installing Plone"
Currently we have multiple places where apt-get poem for Ubuntu / Debian is told
- Unified installer README
- http://plone.org/documentation/manual/installing-plone/installing-on-linux-unix-bsd/debian-libraries
- http://collective-docs.readthedocs.org/en/latest/getstarted/installation.html#installing-plone-using-the-unified-unix-installer

To make sure that the information will stay updated. I'd t

[2012-10-17 13:07] djay commented on #113
On 17/10/2012, at 9:46 PM, Mikko Ohtamaa notifications@github.com wrote:

Is there any kind of automated clean up we can add to the transmogrified pipeline?

[2012-10-17 13:31] miohtama commented on #113
It's mostly recreating index.rst, intra-doc links and image links by hand. But I think we have just one manual left, so there is no need to spend effort to optimize transmogrifier in this context. Instead, let's just drink some cola and spend brainless moments to cleanin up .rst.

[2012-10-17 13:45] djay commented on #113
On 18/10/2012, at 12:31 AM, Mikko Ohtamaa notifications@github.com wrote:

Weird. I would have thought the image links would have worked

[2012-10-17 14:18] cullerton commented on #92
Take a look at http://collective-docs.readthedocs.org/en/latest/getstarted/helloworld/extend/addon.html and see if you can reuse anything in there.

[2012-10-18 07:49] svx commented on #77
done !

[2012-10-18 07:49] #77 closed, assigned to svx

[2012-10-18 08:46] svx commented on #113
fixed link to image [mindmap] in:
https://github.com/collective/collective.developermanual/blob/master/source/reference_manuals/old/plone_3_theming/intro/overview.rst

[2012-10-22 09:15] polyester commented on #115
remember: the universal installer is not only used for 'developers', but also for quick appraisal. I woudn't want people who just want to test it out quickly go through the whole developer manual.

[2012-10-22 09:58] miohtama commented on #115
@polyester Agreed. Good point!

[2012-10-24 14:10] khink commented on #18
I don't get any errors when opening the collective-docs.epub using Calibre on Ubuntu 12.10. Is the bug still there on th iPad?

[2012-10-24 14:12] aclark4life commented on #18
We might have lost epub-a-bility with the recent move

[2012-10-24 15:52] svx commented on #22
is this still valid ?

[2012-10-24 15:55] svx commented on #115
so what should we do ? leave one short howto on plone.org with a 'mini version' with a link to developer.plone.org for more into the deep info ?

[2012-10-24 16:24] svx commented on #78
put it under:
../reference_manuals/external ?

[2012-10-25 08:40] jean opened #118 "Lovely snippet for inclusion: overriding a portlet"
Logging this here so it isn't forgotten.

On Thu, Oct 25, 2012 at 3:06 AM, Jens W. Klein jens@bluedynamics.com wrote:

Best is to override navigation trees querybuilder.

The interface of this adapter is
`plone.app.layout.navigation.interfaces.INavigationQueryBuilder`

To achieve this just subclass default querybuilder, see
https://github.com/plone/plone.app.portlets/blob/master/plone/app/portlets

[2012-11-04 19:03] miohtama opened #123 "Fix Sphinx errors"
We have Sphinx (restructured text) syntax errors in the manual. The goal is to have zero syntax errors: then we can have a robot to notify #plone-docs IRC channel if someone edits the content and leaves in syntax errors.

Syntax errors come from
- Due to partially machine made migration from plone.org to collective.developermanual
- Human errors
- Copy-pasted .rst content from somewhere else

This

[2012-11-04 19:05] miohtama commented on #112
Currently handled with buildout, mr. developer and symlinks.

Make sure mr. developer are scanned for each build.

[2012-11-04 19:18] miohtama opened #124 "New theme tutorial"
Have a plone.app.theming tutorial

[2012-11-08 11:44] miohtama opened #125 "Create instructions how to install a trunk version of add-on from Github"
See http://plone.293351.n2.nabble.com/General-Questions-f293352.html

[2012-11-09 20:47] miohtama opened #126 "Update how to change logo for Plone 4"
Outdated, does not work with P4: http://plone.org/documentation/kb/change-the-logo-in-plone-3

Breaks on title attribute

tal:content="context/@@plone_portal_state/portal_title"

[2012-11-11 19:18] witekdev commented on #95
Witek is working on this to fix Sphinx recipe to return proper exit code (failure, success) to travis, so travis can report failures.

so, if I understand correctly.
as per - http://about.travis-ci.org/docs/user/build-configuration/
under "Build Lifecycle" heading
The standard Unix exit code of "0" means the build passed; everything else is treated as failure.
so im no python expert but googling f

[2012-11-11 20:03] miohtama commented on #95
Nice, a lot of info!

I think Sphinx itself performs correctly as you pointed out. I took the advice I changed the .travis.yml file as the following
- Sphinx is performed by a command bin/sphinx-build which is created by https://github.com/garbas/collective.recipe.sphinxbuilder. It has this part which "forgets" the return value

  import sphinx

  if **name** == '**main**':
      sphinx.main() # A

[2012-11-12 13:51] svx commented on #125
example question:
http://plone.293351.n2.nabble.com/Installing-a-product-from-Github-td7560973.html

[2012-11-12 13:52] svx commented on #125
where to put it ?
under getstarted ?

[2012-11-12 13:57] svx commented on #102
Products.PrintingMailHost
Products.Clouseau
Products.DocFinderTab
jarn.mkrelease
zc.recipe.testrunner
z3c.coverage

[2012-11-12 14:41] miohtama commented on #125
I think a good candidate would be add-on quick installation manual

http://plone.org/documentation/kb/installing-add-ons-quick-how-to/

[2012-11-12 14:42] miohtama commented on #125
Also install add-ons needs love http://plone.org/documentation/kb/add-ons/installing - opening a separate ticket

[2012-11-12 14:43] miohtama opened #128 "Install add-ons page needs love"
http://plone.org/documentation/kb/add-ons/installing

Outdated. Someone should revisit to make sure it reflects best practices.

Also consider combining with quick install page

plone.org/documentation/kb/installing-add-ons-quick-how-to/

[2012-11-12 20:48] miohtama opened #130 "Hello World tutorial is not in correct place"
http://developer.plone.org/getstarted/helloworld/ should go to its own manual under reference manuals.

(Just git mv, update indexes)

Also someone should "test drive" this and see if this still works with the latest Plone versions.

[2012-11-13 06:42] witekdev commented on #95
ok,
so that means that we have to
- modify the https://github.com/garbas/collective.recipe.sphinxbuilder, to make sure that it creates

  import sphinx

  if name == '**main**':
  sys.exit(sphinx.main())
- embed the MAKEFILE and BATCHFILE sources in the collective.recipe.sphinxbuilder/**init**.py itself, as at the moment they are being imported from sphinx itself by the recipe:

  from sphinx.quic

[2012-11-15 10:57] miohtama opened #135 "Close too long 2nd level table of contents"
For example this page has too long TOC:

http://developer.plone.org/forms/index.html

1) Go through all second level pages in d.p.o

2) Check if TOC is too long

3) Set a depth limit of TOC to 1 in this case

[2012-11-15 11:24] miohtama opened #136 "Weird hybrid pages which show content from mixed locations"
Not sure what to do with this

I want to report an issue with Plone that has been bugging me for a very long time now. There is a lot of issue trackers around though and I don't know which one is the appropriate. I am sure that there is some talk about this already but I cant find it anywhere. It's the problem of when you try to visit a plone site and you type a url that combines more than one val

[2012-11-15 11:34] miohtama commented on #136
<DavidJonas> Not that I know of. It happens on any Plone website (Plone.org is just an example). It might happen when there are any relative links on the site that appear in more than one page. My problem is that some of those pages have been popping out on google searches.
<DavidJonas> I don't think there are links within the site but maybe somebody mistyped/mixed URLs on some other site's link a

[2012-11-15 11:35] miohtama commented on #136
Tuning robots.txt need to be assigned someone with Plone god priviledges: I can take if we cannot find anyone else

[2012-11-15 11:56] davidjonas commented on #136
I do still think that robots.txt will only hide a part of the problem since the wrong link would still be on the internet somewhere. The real problem is that Plone allows this type of traversal through the URL. Any possible combination of  of 2 or more valid paths in the URL end up on a 200 OK page with unpredictable broken content. On any Plone website out there.

I think the problem is somewhere

[2012-11-16 09:36] witekdev commented on #95
ok, so I forked from
https://github.com/sdouche/collective.recipe.sphinxbuilder
to
https://github.com/witekdev/collective.recipe.sphinxbuilder
sdouche branch was more recent than garbas branch.

made changes as described in previous comment and labeled release 0.7.3
now a pull-request and then hopefully from there on a release to pypi?
(I dont know how to do that.)

to build with the "warnings int

[2012-11-16 10:05] miohtama commented on #95
We can also use trunk version of collective.recipe.sphinxbuilder with mr. developer in buildout.cfg, so we don't need to wait for the release.

I'll poke Rok in any case to get release done.

I'll check the make warnings-html thing.

[2012-11-16 10:08] witekdev commented on #95
Right, we dont have to wait for a release.
but just so you know  I've already made a pull-request to sdouche to merge and make a release.

[2012-11-16 10:41] miohtama opened #137 "Set a notification hook for new review items on p.org"
The p.org review queue is list filling up and no one is taking regular care of it.

1)  Send email to plone-website lit

OR

2) Set an CIA bot webhook to post messages to #plone.org channel

Note: This ticket needs p.org super god powers

[2012-11-16 10:49] jean commented on #137
Where is the queue? Can I subscribe to it with Google Reader?

[2012-11-16 12:20] miohtama commented on #137
I see a portlet when I login to Plone. You probably need to be super-admin for seeing it.

How actually one can setup RSS feed from pending items in Plone?

[2012-11-16 12:24] miohtama commented on #137
This is something one should document on d.p.o :)

[2012-11-16 14:54] domenkozar commented on #123
There is a way to configure sphinx to fail build if there are warnings, should we push that once it's cleaned?

[2012-11-16 14:56] miohtama commented on #123
It's already on the other ticket and we'll have a Travis + IRc bot: https://github.com/collective/collective.developermanual/issues/95

[2012-11-16 15:45] witekdev commented on #123
can use this as an indication of who is working on what: http://okfnpad.org/plone-tuneup

[2012-11-16 15:55] smcmahon opened #139 "Add backup section to hosting docs"
The production deployment docs need a backup section.

[2012-11-16 15:57] smcmahon opened #140 "Move PFG docs to developermanual"
Current documentation under products/ploneformgen is too obscure for what's become a mainstream mechanism.

[2012-11-16 16:26] aclark4life commented on #140
go go go

[2012-11-16 17:21] miohtama commented on #139
There are related recipes clutterd around in unified installer, Zope section, plone.org kb articles and Database section.

[2012-11-16 17:22] miohtama opened #141 "Merge admin-docs and porg.admin"
Two repos for same docs

https://github.com/plone/ploneorg.admin/commit/1608081b14d7ab821d1e6e3752400ac24c3bfe87

https://github.com/plone/admin-docs

https://github.com/plone/ploneorg.admin

[2012-11-16 17:27] miohtama commented on #140
@djay Has a Funnelweb scipt which can do initial scraping and raw conversion

[2012-11-16 17:28] miohtama commented on #140
The proper place would be /reference_manuals/ section. It can also be external, hosted inside Products.PloneFormGen package (even preferred)

[2012-11-16 18:15] ddbeck commented on #135
Just in case anybody else is considering working on this: I have a branch with a series of fixes ready to go. I'm working on getting push access now.

[2012-11-16 18:25] miohtama opened #142 "doc.plone.org end user manual"
There is already Sphinxified version (as by @giacomos ) :

https://github.com/plone-it/collective.italiandocumentation/tree/english-version

To get this to docs.plone.org end user manual as Sphinx
- Allocate domain
- Create a Github project
- Create a buildout configuration on deus2 like d.p.o has
- Make redirects
- Add quick edit note, Google analytics tracker and other Sphinx nifties
- Setup Tra

[2012-11-16 18:26] miohtama commented on #91
Dexterity docs are https://github.com/plone/plone.app.dexterity

[2012-11-16 18:29] miohtama commented on #91
<giacomos> Steve sent me this list:
<giacomos> http://plone.org/products/dexterity/documentation/how-to/install
<giacomos> and this: http://plone.org/products/dexterity/documentation/faq/how-is-dexterity-related-to-archetypes
<giacomos> that's all I guess

[2012-11-16 18:30] miohtama commented on #91
Also merge: https://github.com/collective/collective.developermanual/blob/master/source/getstarted/dexterity.rst with main Dexterity manual

[2012-11-16 18:41] miohtama commented on #93
The unfinished work here: https://github.com/collective/collective.developermanual/tree/master/source/reference_manuals/old/plone_3_theming

All Plone content has been imported.

The task left is to rebuild Sphinx index and include each section in the manual.
- make html
- Look plone.org theming guide as an example https://plone.org/documentation/manual/theme-reference - rst is generated from this

[2012-11-16 19:03] rpatterson commented on #93
Starting work on this one

[2012-11-16 19:04] j-craig commented on #130
working through the tutorial...

[2012-11-16 19:31] smcmahon commented on #139
The new section is complete.

Whatever there is in the way of other docs, it's not in developer.plone.org. Searches for "backup" and "restore" don't return any meaningful docs.

[2012-11-16 19:31] #139 closed, assigned to smcmahon

[2012-11-16 19:45] rpatterson commented on #93
@miohtama I'm not understanding what's needed here and no one's responding in #plone, #plone-tuneup, or #plone-docs.

[2012-11-16 19:56] j-craig commented on #93
I think the rst is created--there is a link in the first comment.  I think the ticket is about cleaning up that rst and creating links.

[2012-11-16 19:58] witekdev commented on #123
Yeah, build successfull
zero errors! (at time of posting)

feeling invincible like - Catch the Ice Dude.
http://www.youtube.com/watch?v=zd7c5tQCs1I
(before he landed that is :)

time for bed..

[2012-11-16 20:08] witekdev commented on #91
There is a tutorial missing here:
http://dexterity-developer-manual.readthedocs.org/en/latest/advanced/rich-text-markup-transformations.html

Alternative transformations
Sometimes, you may want to invoke alternative transformations. Under the hood, the default implementation uses the portal_transforms tool to calculate a transform chain from the raw value’s input MIME type to the desired output MI

[2012-11-16 20:26] witekdev commented on #91
2 more bad links on this page:
http://dexterity-developer-manual.readthedocs.org/en/latest/advanced/validators.html

Constraints
See the z3c.form documentation for more details. (bad link)

Form validators
Finally, you can write more powerful validators by using the z3c.form widget validators. See :ref:`the z3c.form documentation <z3c.form>`_ for details. (bad link)

[2012-11-16 20:27] davisagli commented on #91
The z3c.form "documentation" is a crap place to link to anyway. http://plone.org/products/dexterity/documentation/manual/schema-driven-forms/customising-form-behaviour/validation is a much better resource for this topic.

[2012-11-16 20:34] j-craig commented on #130
I couldn't get buildout.python to work on linux or windows, but other than that I got it working by skipping that step and building a virtualenv with the system python (2.7).

I'm going to move it now, then add some notes and fixes.

[2012-11-16 20:35] miohtama commented on #91
@davisagli  Everything under p.org dexterity/documentation is going to be migratd to d.p.org, but you raised a very good point!

z3c.form documentation is more like tests :)

[2012-11-16 20:44] miohtama commented on #130
Great work!

[2012-11-16 20:56] #135 closed, assigned to nobody

[2012-11-16 21:02] miohtama commented on #106
Check if unified installer indeed comes with ZopeSkel

Update all tutorials on d.p.o to use ZopeSkel and Unified Installer

Make sure tutorials work in Windows

[2012-11-16 21:09] miohtama commented on #106
Unified installer comes with ZopeSkel

[2012-11-16 21:10] cewing commented on #106
[This](https://github.com/plone/Installers-UnifiedInstaller/blob/master/buildout_templates/base.cfg#L160)  would seem to indicate that the installer includes ZopeSkel

[2012-11-16 21:44] aclark4life commented on #130
@j-craig Please open a buildout.python ticket if you think it's appropriate

[2012-11-16 22:09] #130 closed, assigned to nobody

[2012-11-16 22:10] #109 closed, assigned to nobody

[2012-11-16 22:49] j-craig commented on #126
fixing

[2012-11-16 23:12] j-craig commented on #126
plone.app.layout 2.1.5 changed the logo viewlet's portal_title attribute to navigation_root_title, so the document was not valid for plone >= 4.1.  I edited the document to fix it.

[2012-11-16 23:27] #126 closed, assigned to nobody

[2012-11-17 11:35] giacomos commented on #142
I'm going to create a github project on collective called "collective.usermanual". Currently I've sphinxified the latest version of the manual (Plone4), if we think it could be useful I can create a branch and sphinxify the 3rd version too

[2012-11-17 11:38] djay commented on #142
On 17/11/2012, at 10:35 PM, Giacomo Spettoli notifications@github.com wrote:

why sphixify the user manual too?

[2012-11-17 12:57] giacomos commented on #142
Because it came for free as I had to sphinxify it for an italian project of documentation. I thought it was good to have all the documentation stored in the same way (the consistency doesn't happen often as it should in the Plone world)

[2012-11-17 20:21] j-craig commented on #93
working on it...

[2012-11-17 20:37] davisagli commented on #136
Yes, this is because Zope's DefaultPublishTraverse class uses acquisition: it first tries traversing using **bobo_traverse**, then tries an attribute lookup on the aq_base of the object (i.e. without acquisition), then tries a view lookup, then tries an attribute lookup with acquisition.

We could try experimenting with registering a replacement IBrowserPublisher adapter that doesn't try acquisiti

[2012-11-17 20:57] djay commented on #136
On 18/11/2012, at 7:37 AM, David Glick notifications@github.com wrote:

There are some pretty weird bugs caused by it so it would be worth seeing what does depend on acquisition. For example you get no 404 pages or redirections for anything named the same as something elsewhere in the acquisition path, such as the id of another plone site.

[2012-11-17 21:00] davisagli commented on #137
The portlet is based on the collection at http://plone.org/review

We currently have the following content rules configured (though I can't confirm whether they are working):
- Email to doc-editors@lists.plone.org when things are added, modified, deleted, or submitted within the documentation section
- Email to @miziodel and @jonstahl when a Foundation Member is submitted
- Email to any user with

[2012-11-17 21:02] djay commented on #93
On 17/11/2012, at 6:53 AM, Alex Clark ☺ notifications@github.com wrote:

In case anyone wants to run it again, here is how it was created

https://github.com/collective/transmogrify.command

[2012-11-17 21:07] djay commented on #142
On 17/11/2012, at 11:57 PM, Giacomo Spettoli notifications@github.com wrote:

Only if it means it will be maintained more and appear in the same place as the current user manual does on plone.org
The original intent of moving our developer documentation to sphinx was to increase the likelyhood of documentation getting maintained by developers. However the user documentation was getting maintained

[2012-11-17 21:13] davisagli commented on #136
I tried it, and as I suspected skin layer items can't be found without getting acquired. We can revisit this once the PLIP to remove skin layers is complete (at which point an option could be added to Zope to turn off acquisition during traversal).

[2012-11-17 23:17] j-craig commented on #93
Pushed my meager work so far "tuneup-themeref" branch.  This doc is in a pretty ragged state now that I delve into it.

[2012-11-18 00:23] giacomos commented on #142
Well, first, for the end user point of view a sphinxified doc is more comfortable as it can be easily printed or read with ebook reader. For the mainteiner point of view, I think it isn't more uncomfortable, not very much at least.
And second, in the long run, this could be the first step for a single network of all the localized doc centers : the center of the star will be the english version, an

[2012-11-18 00:38] giacomos commented on #142
@miohtama https://github.com/collective/collective.usermanual  <--- it seems I can't push to this repo yet, is there something that I'm missing?

[2012-11-21 09:46] giacomos commented on #142
doc uploaded. now let's do the sysadmin part

[2012-11-21 18:30] muellert opened #150 "Please support local usage"
The latest version of the developer manual has two imho very undesirable properties that it didn't have some time ago:
- Nagging users to edit somewhere online by using a large piece of screen real estate for a yellow box, thus obscuring parts of the navigation tree.
- Trying to enforce online usage by redirecting to d.p.o on every page, thus making a local copy hard to use.

While I am confident

[2012-11-21 19:05] miohtama commented on #150
Hi,

The yellow box can be minized by clicking it and it stays minimized across page loads. If it doesn't then something is wrong.

collective.developermanual has support for file:// protocol usage and doesn't try to redirect you if you are accessing it as file:// or http://localhost. Please see

https://github.com/collective/collective.developermanual/blob/master/source/_static/plone.js#L20

But

[2012-11-22 15:20] miohtama opened #151 "Revisited root installation recommendation"
Hi,

http://plone.org/documentation/manual/installing-plone/installing-on-linux-unix-bsd/root-or-user-install

We might want to revisit whether to suggest to install as root or not.

Newcomers are more likely to break their buildouts and stuff when they mess as root. They don't know when to use user "plone" or when to use root. I have observed this practice be more fragile, causing headache when p

[2012-11-23 22:58] muellert commented on #150
Thank you, I'll look into it.

[2012-11-24 15:06] miohtama opened #152 "Improve installation experience"
We are still far from great

http://plone.293351.n2.nabble.com/First-time-try-to-install-plone-and-I-have-to-say-td7561373.html#a7561376

[2012-11-24 23:20] muellert commented on #152
The link is invalid...

[2012-11-26 03:54] djay commented on #142
On 18/11/2012, at 11:23 AM, Giacomo Spettoli notifications@github.com wrote:

So If thats the direction we are going, then one thing I've wondered if it could be done with sphinix is automate screenshots?
Anyone know of a plugin would let embed some kind of selenium or robot framework type instructions into a document to get it to create it's own screenshots from plone?
The reason is the screensho

[2012-11-26 05:42] datakurre commented on #142
@tisto has been experimenting with robot framework and screenshots (I'd guess, with simply running test suites before generating docs and linking hard-coded screenshot filenames: selenium-screenshot-X.png).

I might be able to do a Sphinx-plugin to generate screenshots while generating docs, but I'm afraid, it would be cumbersome Sphinx-directive to configure and it would also take a long time to

[2012-11-26 06:39] djay commented on #142
On 26/11/2012, at 4:42 PM, Asko Soukka notifications@github.com wrote:

I think your initial idea isn't too bad. Run a set of robot tests before running sphinx in order to generate the screenshots. At least that would work for.
@tisto: can we zoom the screenshots?

[2012-11-26 06:50] djay commented on #142
On 26/11/2012, at 5:39 PM, Dylan Jay dylan@dylanjay.com wrote:

BTW if you did want to embed it, it doesn't need to be slow. The builtin doctest extension collections all the doctests togeather and runs them all togeather at the end by the looks of it. But getting robot framework up and going inside a sphinx build seems like too big a challenge to me just for the convenience to embed robot command

[2012-11-26 08:14] datakurre commented on #142
Dylan Jay wrote:

Yes, that would work already, and would not invent a yet another of
writing/running RF tests.

When you use zope.testrunner + robotsuite for running robot tests, every
test will be reported into its own directory under
"parts/test/Test_Suite/Test_Name/" and you can tust that filenames won't
change when you add more tests to make more screenshots.

(Robotsuite also merges test rep

[2012-11-26 16:18] emanlove commented on #142
@tisto @datakurre - I too had been tossing around the idea of a Robot Framework screenshot library for documentation purposes. I put up some code which gives a basic concept sketch of what I expect the library to look like and functionality I want within it. See https://github.com/emanlove/robotframework-screencapturelibrary.

@tisto - Do you have anything more than the responsive design tests you

[2012-11-26 18:21] macagua commented on #142
We have the a Spanish version as Sphinx here

https://github.com/collective/collective.spanishdocumentation/tree/master/source/manuales/usando_plone3/

For generate Sphinx format from HTML, we uses a simple python script called html2rst.py that converts the format

[2012-11-26 18:25] macagua commented on #142
Other good resource for plone user manual is this https://svn.plone.org/svn/collective/plone_manual_resources/ is a images repository of illustrations using into user manual in formats .AI and .SVG.

[2012-11-26 21:51] djay commented on #142
On 27/11/2012, at 5:21 AM, "Leonardo J .Caballero G." <
notifications@github.com> wrote:

We have the a Spanish version as Sphinx here

https://github.com/collective/collective.spanishdocumentation/tree/master/source/manuales/usando_plone3/

For generate Sphinx format from HTML, we uses a simple python script called
html2rst.py that converts the format

I've now checked in code in the developer ma

[2012-11-28 20:15] k-j-kleist commented on #136
see http://dev.plone.org/ticket/13354

[2012-11-30 09:17] svx commented on #152
here the mail copy and paste from google cache [sorry for the long post]:

<snip>
Hello,

Coming from drupal , want to try plone.

Centos 6.2 .

Half an hour I'm trying to fight just to install the system , there is no tutorial for it.
The problem is yum packages.

[root@map22 Plone-4.2.1-UnifiedInstaller]# ./install.sh standalone --without-ssl
Stand-Alone Zope Instance selected

Detailed installa

[2012-11-30 09:22] svx commented on #151
- 1 !

http://developer.plone.org/getstarted/installation.html#installing-plone-using-buildout-on-ubuntu-debian says:

" Note It is not recommended to run or install Plone as the root user. There is nothing in Plone requiring root privileges."

[2012-11-30 09:26] miohtama commented on #152
My suggestion how to fix this

1) Add a new post-download page in plone.org

2) When user clicks the installer link

AND

3) has Javasacript installer

4) We will redirect the user the post-install page

5) Which will trigger the download via <meta refresh> (think Sourceforge)

6) ... and the page has following information

Plone comes with Python and ZODB. Download is big because of included depe

[2012-11-30 09:42] svx commented on #115
I reviewed both and the main difference is that we tell ppl on d.p.org to run plone as it's own user and also to install python-distribute python-dev

how about add these to: http://plone.org/documentation/manual/installing-plone/installing-on-linux-unix-bsd/debian-libraries and link for more information to d.p.org ?

[2012-11-30 10:02] svx commented on #96
+1

we need a place to put all the screencasts otherwise it will get messy and they will be all around the web on different locations

[2012-11-30 10:40] cleder commented on #152
It might be an idea to create deb and rpm packages Plone-d
ependencies which do install the required packages but not Plone itself . As this would be a Meta package only they  could be included in the unified installer

[2012-11-30 11:57] svx commented on #152
yeah :) but this will cover only rpm or deb based systems, and someone
will have to keep them up to date :)

another idea might be:

since the  Unified Installer is already doing checks
[https://github.com/plone/Installers-UnifiedInstaller/blob/master/preflight]
maybe add possible missing checks there and try to make the error
messages a bit more clear ?
i think this is more something for the inst

[2012-11-30 12:44] emanlove commented on #96
@svx: You [mention](https://github.com/collective/collective.developermanual/issues/152#issuecomment-10883002) a Drupal user's experience in trying out Plone. [Here](http://drupalize.me/) is a website created by a local Drupal development shop, [Lullabot](http://www.lullabot.com/), that does a lot of educational videos and does Drupal training. This is an [example](http://drupalize.me/) of what ca

[2012-11-30 17:57] polyester commented on #115
that sounds like a plan.

[2012-12-03 09:23] svx commented on #115
done !

[2012-12-03 09:23] #115 closed, assigned to smcmahon

[2012-12-03 10:03] svx commented on #125
done ! i added it to http://plone.org/documentation/kb/installing-add-ons-quick-how-to/

[2012-12-03 14:50] miohtama opened #154 "URL rewriting explained?"
Hi,

The first problem Plone production deployers face is URL rewriting.

I think it would be necessary to dedicate one chapter of production deployment guide for this and explain
- What options there are (Apache, Nginx, access rule)
- Pros and cons of each option
- A link to a working example

What do you think Steve?

[2012-12-04 04:37] #125 closed, assigned to nobody

[2012-12-05 23:58] muellert commented on #150
I hoped to fix the problem using this:

[code]

The intent is to classify not only "localhost", but also all unqualified names and bare IP numbers as "local". Unfortunately, this does not work - it looks like I looked at the wrong place.

In my local version, I can't click the menu.

[2012-12-17 09:29] svx opened #159 "Plone and OS upgrades"
just an idea, but maybe it would be good to explain ppl. what to do after a OS upgrade, for example like here:
<snip>
[Plone-Users] upgrade ubuntu - 12/15/2012

I have a question about of my system in Plone 4.2.1
My Plone 4.2.1 run in Ubuntu 11.10 and I would like upgrade to Ubuntu 12.04..
Must upgrade any in my plone or not?

---

and the answer:

If you are using the system Python, which is 2.6

[2013-01-27 09:53] witekdev commented on #18
This issue still exits, just checked on the IPad2, IBooks ver 3.0.2

Though in my case I got:

This page contains the following errors:
error on line 72 at column 34: Opening and ending tag mismatch: a line 0 and li
Below is a rendering of the page up to the first error.

[2013-02-17 10:11] svx opened #167 "ubuntu/debian versions mix up"
hi,
sometimes the names of packages are different between versions in ubuntu/debian, we should make sure to make this more clear, like its tested with debian 6 /ubuntu 'name of the ubuntu version'

example:
http://plone.org/documentation/manual/installing-plone/installing-on-linux-unix-bsd/debian-libraries

and

http://developer.plone.org/getstarted/installation.html

we have have now:
libreadline

[2013-02-17 10:18] svx opened #168 "change python-distribute to python-setuptools debian/ubuntu"
checked versions:

debian 6
debian  7
ubuntu 12.10

we have here: http://plone.org/documentation/manual/installing-plone/installing-on-linux-unix-bsd/debian-libraries under required packages

and here:

http://developer.plone.org/getstarted/installation.html

python-distribute

this is changed in above versions to: python-setuptools

the current instructions will still work but will give user a wa

[2013-02-17 22:53] miohtama commented on #168
Should we have a policy we support old versions, but have in comments that you need to use this package if you are using this old version X?

[2013-02-18 06:14] svx commented on #168
Sounds good to me !
- change our howtos to python-setuptools
- add a comment that you have to use versions python-distribute, in older versions - maybe something like in older versions [like ubuntu lucid]python-setuptools was named python-distribute ?

on the other hand, who is using so old debian or ubuntu versions ? ah well it's in lucid and lucid server is supported until april 2015

if its ok

[2013-02-19 11:46] svx commented on #168
fixed !

[2013-02-19 11:46] #168 closed, assigned to nobody

[2013-04-06 17:27] svx commented on #167
done

[2013-04-06 17:27] #167 closed, assigned to nobody

[2013-04-06 17:41] svx commented on #22
i cant reproduce that, maybe it was an older version ?

[2013-04-06 17:41] #22 closed, assigned to jean

[2013-04-07 00:11] svx commented on #150
I can't reproduce that, it's working here I will code that ticket for now, feel free to reopen it

[2013-04-07 00:11] #150 closed, assigned to nobody

[2013-04-10 06:59] djay opened #174 "functionality/expressions doesn't explain how to debug "you don't have permissions" errors"
For example this expression doesn't work

context.restrictedTraverse('@@contenthistory').fullHistory()[0]['comments']

Why not?
How do we find why not?

[2013-04-10 09:36] miohtama commented on #174
A good point.

Do you know can we put breakpoints to expression / template code?

[2013-04-10 09:38] miohtama commented on #174
Delegated the altar of Plone gods http://stackoverflow.com/questions/15922208/breakpoints-in-expression-template-code-in-plone

[2013-04-15 13:26] silviot opened #176 "External manuals: "Edit this document" link is not working"
When I go to
http://developer.plone.org/reference_manuals/external/plone.app.robotframework/happy.html

and I click "Edit this document" I get a github 404: https://github.com/collective/collective.developermanual/blob/master/source/reference_manuals/external/plone.app.robotframework/happy.rst .

I guess this has to do with the "/external/" part of the url, but I still don't know the structure of

[2013-04-15 14:02] miohtama commented on #176
/external/ part documents are in different Git repository.

Currently the link makes dummy assumption about where on Github URL you can find the document, because this information is not availble in Sphinx.

However, I some time ago started to work on code which would map any filesystem path to its Github URL as long as the file is in git repo. It is not there, yet.

What we could do meanwhile is

[2013-04-23 10:04] miohtama opened #182 "Add plone.app.discussion to external manuals"
... it has Sphinx manual, not yet there

[2013-04-25 08:15] miohtama opened #183 "Update all tutorials and ZopeSkel references for Plone 4.3"
Now that 4.3 ships with ZopeSkel out of the box (thanks @smcmahon  for very hard work) we need to update all tutorials to reflect this reality and get rid of the fragile old boilerplate.
- Check which zopeskel version 4.3 comes with
- Standardize content creation to this zopeskel version
- Standardize theme creation to this zopeskel version (which is actually Diazo compatible theme package, is suc

[2013-04-25 08:31] cleder commented on #183
I would argue yes. In my experience it is more convenient to edit and maintain a diazo
theme on the filesystem although I prefer to deploy them as uploadable zip files.

[2013-04-25 10:44] aclark4life commented on #183
Wow, very exciting! Thanks @smcmahon

[2013-04-25 16:52] smcmahon commented on #183
ZopeSkel's actually been shipping with the installers for some time, in the develop.cfg. What's new with 4.3 is that we're including zopeskel.dexterity and zopeskel.diazo.

[versions]
ZopeSkel = 2.21.2
zopeskel.dexterity = 1.5.0
zopeskel.diazotheme = 1.1

The diazotheme skeleton covers a more sophisticated need than what you can handle via zip file:

1) It includes z3c.jbot and has its own browser

[2013-04-27 08:58] svx commented on #183
@miohtama yes i can, but it will take some time, first i have to deal with some insane deadlines :)

[2013-05-04 19:55] davisagli opened #191 "Dexterity manual not updating"
https://github.com/plone/plone.app.dexterity/blob/master/docs/intro.rst has updates from a couple weeks ago which are not showing up at http://developer.plone.org/reference_manuals/external/plone.app.dexterity/intro.html ... what needs to happen to fix that?

[2013-05-05 08:06] miohtama commented on #191
I'll take a look on this.

The possible culprint is that buildout.coredev is broken and I am not (yet)
getting automated messages if it fails.

On 4 May 2013 22:55, David Glick notifications@github.com wrote:

##

Mikko Ohtamaa
http://opensourcehacker.com
http://twitter.com/moo9000

[2013-05-05 08:08] miohtama commented on #191
The process and manual way to re-run and see the problem is documented here:

http://developer.plone.org/reference_manuals/active/writing/crosslinking.html#developer-plone-org-builds

[2013-05-07 08:51] miohtama commented on #191
I modified the script doing package updates.

Now it explicitly does bin/develop up for buildout.coredev eggs and should update plone.app.dexterity too.

The intro.rst was changed on the server.

If the change still doesn't appear something else is wrong (file is failing in Sphinx).

[2013-05-07 08:51] #191 closed, assigned to nobody

[2013-05-08 13:08] svx opened #193 "ubuntu is not always equal to debian or other linux os's"
ubuntu is based on debian testing but that does not mean that there are always equal in terms of howtos ...
for example ubuntu has sudo installed per default, debian and centos are coming without sudo ...
lots of our howtos use ubuntu as example, this can be misleading for newbies, we should try to change that...
- we could say we use ubuntu as example os and you have to adopt that for your os
- w

[2013-05-08 18:33] miohtama commented on #193
You are right. Let's take a policy "Ubuntu is default Linux OS. Instructions may differ for other distributions."?

[2013-05-09 16:43] svx commented on #193
yes +1
If there is no veto I will update readme.rst and installation.rst

[2013-05-11 08:27] svx commented on #193
done !

[2013-05-11 08:27] #193 closed, assigned to nobody

[2013-05-19 21:20] andreasma opened #195 "epub-support for collective.developermanual"
It would be great to update the Sphinx configuration of collective.developermanual thus it also supports the creation of the epub file format.
Sphinx is able to export in that format. I tried this local with adding only three lines to the makefile and it worked.

[2013-05-20 05:36] miohtama commented on #195
HI @andreasma

Can you provide a patch through Github Pull Request mechanism?

[2013-05-28 05:17] davisagli commented on #191
This was not picking up some changes @smcmahon made a couple days ago so I tried the build locally. I needed to add plone.app.dexterity and plone.app.theming to auto-checkout so they get updated.

[2013-05-30 16:10] dayontwari opened #196 "404 on some files"
On this page: http://developer.plone.org/plone_theme_development/diazo_theme_recipes/quick_test.html#procedure at the bottom, the link to the PDF ("View an explanatory diagram in PDF format") 404s. The file is diazothemeexplained.pdf, it doesn't show up on the live site, but it is in the repo under ./source/plone_theme_development/. See: l.79 ./source/plone_theme_development/diazo_theme_recipes/qu

[2013-06-12 11:40] aclark4life commented on #141
This is done, sort of. admin-docs has been merged into ploneorg.admin/admin-docs. We can clean the rest up later.

[2013-06-12 11:40] #141 closed, assigned to aclark4life

[2013-07-05 13:09] timgraham commented on #18
I think this is at least in part an issue with readthedocs. Django also uses them and our epub has a [similar problem](https://code.djangoproject.com/ticket/19967).

Sent a pull request to readthedocs to address the `<br>` issue: https://github.com/rtfd/readthedocs.org/pull/409

[2013-07-08 08:35] miohtama commented on #18
Please note that developer.plone.org does manual Sphinx builds and is not using readthedocs.org

http://developer.plone.org/reference_manuals/active/writing/crosslinking.html#developer-plone-org-builds

[2013-08-22 16:45] DoppioJP opened #212 "httplib.BadStatusLine: '' - probably changes of GitHub API affecting the script"
I managed to run the script with the correction I made (see https://github.com/collective/collective.developermanual/pull/211) but it failed on the `create_issue` method https://github.com/collective/collective.developermanual/blob/master/gh-issues-import.py#L196 with the message

`httplib.BadStatusLine: ''`

The basic authentication works fine for getting the collection of issues to be exported t

[2013-10-01 15:19] svx commented on #152
This will be hopefully solved with the new installer for Plone 5

[2013-10-03 11:53] svx opened #216 "Update to recent version"
https://github.com/collective/collective.developermanual/blob/master/source/reference_manuals/active/writing/developermanual.rst

for example to python2.6 and latest Debian and Ubuntu versions, also it is now git and not git-core anymore :)

[2013-10-03 12:46] svx commented on #216
done!

[2013-10-03 12:46] #216 closed, assigned to svx

[2013-10-06 13:21] #111 closed, assigned to nobody

[2013-11-20 12:50] tdkuehnel opened #228 "Plone upgrade documentation"
The Plone upgrade guide would be better for fairly new to plone people to have instructions in actually how the upgrade step from 3.x to 4.x is actually performed.
All the preparations stuff, work with a backup, look for compatible add on products, what to do with own developed products, themes, all fine.
It is not clear from the documentation what is the next step when everything is prepared:
You

[2013-11-20 17:36] davisagli commented on #228
Is this what you were looking for? http://plone.org/documentation/manual/upgrade-guide/minor-version-upgrades

[2013-11-20 21:55] tdkuehnel commented on #228
@davisagli: No, you point to minor version upgrades where the actual upgrade process is initiated by a run of bin/buildout with a buildout.cfg pointing to a new version, for short.
What i mean is: I have a Plone 3.3.x installation with 4 low traffic (20 - 30 hits a day) Plone sites in it, which run for years. Now i decided to upgrade to Plone 4.x as i want to make available the new functionality t

[2013-11-20 22:08] davisagli commented on #228
The best practice is definitely to set up a new Plone 4 installation and copy your data over. If your existing site was set up with the Unified Installer and you have made minimal customizations to the buildout, it makes sense to do the Unified Installer install of Plone 4 and then adjust the buildout and copy the data there. If you have a heavily customized buildout it probably makes more sense t

[2013-11-21 11:55] tdkuehnel commented on #228
From the Plone 4.3.2: Unified Installer README.txt:
<snip>The non-root method produces an install that will run the Zope server with the
same privileges as the installing user. This is probably not an acceptable
security profile for a production server, but is much easier for testing and
development purposes or if you take care to set  users and privileges
yourself.

The 'root' method produces an

[2013-12-19 04:33] adaugherity opened #235 "Unified Installer readme points to outdated deployment doc"
From Plone-4.3.2-UnifiedInstaller/README.txt:

This is apparently an outdated copy as the "edit on GitHub" link on that page (and any subpages) is a 404, but there's no other indication that these are not the current docs. Apparently the correct URL is http://developer.plone.org/reference_manuals/active/deployment/index.html, which has more up-to-date information.

As there's lots of versions of i

[2013-12-19 10:32] svx commented on #235
Updated the Readme of Unified Installer: https://github.com/plone/Installers-UnifiedInstaller/blob/master/README.txt

[2014-01-13 13:50] tedsteen opened #238 "p"

[2014-01-13 13:54] tedsteen commented on #238
Sorry about that :)
Had the wrong target when running your gh-migrate script

[2014-01-14 16:56] #238 closed, assigned to nobody

[2014-01-23 08:56] me-kell opened #245 "Promote Archetypes Documentation"
The documentation team marks some parts/technologies as old because "the team feels that it no longer reflect the modern Plone versions and best practices".
Among those technologies are archetypes, portlets, and the pluggable authentication service. Those technologies are still essential parts of Plone (also in the current Vesion 4.3.2) and unavoidable in "serious", "future proof" Plone projects.

[2014-02-08 14:32] svx commented on #228
At the moment, lots of people are busy working on the new style/setup of the documentation @tdkuehnel I would like to thank your for your input and of course you too @davisagli ! I will close this ticket now, but I will include your comments and suggestions into the new style.

[2014-02-08 14:32] #228 closed, assigned to nobody

[2014-02-08 14:54] svx commented on #78
this will go to the section: development plone/meta ....

[2014-02-08 14:54] #78 closed, assigned to nobody

[2014-03-26 11:46] #235 closed, assigned to nobody

[2014-03-26 11:48] svx commented on #159
moved to github.com/plone/documentation

[2014-03-26 11:48] #159 closed, assigned to nobody

[2014-03-26 11:57] svx commented on #152
@sneridagh would something like that possible on the new plone.org

[2014-03-26 11:59] svx commented on #142
all of this is now included in the new setup: github.com/plone/documentation so I will close this one here now

[2014-03-26 11:59] #142 closed, assigned to nobody

[2014-03-26 12:16] sneridagh commented on #152
Certainly, I will add it to the feature/content list for plone.org.
Cheers.
V.

Víctor Fernández de Alba
http://about.me/victorfernandezdealba
g+/Twitter/IRC: sneridagh

On Wed, Mar 26, 2014 at 12:57 PM, sven notifications@github.com wrote:

[2014-03-26 12:22] svx commented on #152
Great !

[2014-03-27 16:30] svx commented on #123
will close this, docs are on the move and the new setup is almost done and has already less errors than our current seup

[2014-03-27 16:30] #123 closed, assigned to nobody

[2014-03-27 16:31] svx commented on #112
will close this, the new setup is almmost there and different :)

[2014-03-27 16:31] #112 closed, assigned to nobody

[2014-03-27 16:31] svx commented on #182
close this this is already on the list for the new setup

[2014-03-27 16:31] #182 closed, assigned to nobody

[2014-03-27 16:32] svx commented on #114
this is done in the new setup, so I will close this

[2014-03-27 16:32] #114 closed, assigned to nobody

[2014-03-27 16:32] svx commented on #110
new plone.org is coming so I close this

[2014-03-27 16:32] #110 closed, assigned to nobody

[2014-03-27 16:33] svx commented on #101
will close this

[2014-03-27 16:33] #101 closed, assigned to smcmahon

[2014-03-27 16:35] svx commented on #97
not valid anymore the p.o will with now helpcenter

[2014-03-27 16:35] #97 closed, assigned to nobody

[2014-03-27 16:39] svx commented on #124
done we have and it moved already

[2014-03-27 16:39] #124 closed, assigned to nobody

[2014-03-27 16:42] svx commented on #176
I will close this the new setup is different and this will not be fixed in the current situation/setup

[2014-03-27 16:42] #176 closed, assigned to nobody

[2014-03-27 16:44] #151 closed, assigned to smcmahon

[2014-03-27 16:46] svx commented on #95
we will not fix that for this setup, we are on the move !

[2014-03-27 16:46] #95 closed, assigned to witekdev

[2014-03-27 16:46] svx commented on #195
we will not fix that for this setup, we are on the move !

[2014-03-27 16:46] #195 closed, assigned to nobody

[2014-03-27 16:47] svx commented on #18
we are working on the new setup for docs, we will not fix that in this (current) setup

[2014-03-27 16:47] #18 closed, assigned to nobody

[2014-03-27 16:52] svx commented on #108
I will close that, docs on upcoming will be diferent

[2014-03-27 16:52] #108 closed, assigned to nobody

[2014-03-27 17:19] svx commented on #93
moved to new setup

[2014-03-27 17:19] #93 closed, assigned to djay

[2014-03-27 17:21] svx commented on #39
we are moving to the new setup, this one will not get fixed on the current setup

[2014-03-27 17:21] #39 closed, assigned to nobody

[2014-03-27 17:24] svx commented on #245
You are right ! We already fixed that in the new documentation setup, which will be online soon, so I will close that one here for now, thanks for your input !

[2014-03-27 17:24] #245 closed, assigned to nobody

[2014-03-27 17:27] svx commented on #92
are there any new on that, is that still valid ?

[2014-03-27 17:27] #92 closed, assigned to smcmahon

[2014-03-27 17:29] svx commented on #128
Kb is gone

[2014-03-27 17:29] #128 closed, assigned to nobody

[2014-03-27 17:31] svx commented on #100
we will have that in the new docs style and setup

[2014-03-27 17:31] #100 closed, assigned to nobody

[2014-03-27 17:32] svx commented on #99
new docs are coming in a new layout

[2014-03-27 17:32] #99 closed, assigned to nobody

[2014-03-27 17:36] svx commented on #91
g says it is done !

[2014-03-27 17:36] #91 closed, assigned to giacomos

[2014-03-27 17:37] svx commented on #196
this will not get fixed for this version of the docs, the new version is almost ready say please hold on !

[2014-03-27 17:37] #196 closed, assigned to nobody

[2014-03-27 17:38] svx commented on #96
its on the list so I will close this here

[2014-03-27 17:38] #96 closed, assigned to nobody

[2014-03-27 17:40] svx commented on #140
done !

[2014-03-27 17:40] #140 closed, assigned to smcmahon

[2015-01-27 22:54] bonog commented on #137
bonog

[2015-01-31 23:40] bonog opened #259 "root"
My HTC glacier

[2015-02-07 18:33] bonog commented on #137
http://plone.org/review

[2015-02-07 20:16] #259 closed